<div class="example-button-row">
    <button mat-raised-button color="warn" matTooltip="AutoComplete" [matTooltipPosition]="'right'" [routerLink]="['/autocomplete']" routerLinkActive="router-link-active" >AutoComplete</button>
    <button mat-raised-button color="primary" matTooltip="Toggle" [matTooltipPosition]="'right'" [routerLink]="['/toggle']" routerLinkActive="router-link-active" >Toggle</button>
    <button mat-raised-button color="accent" matTooltip="Card" [matTooltipPosition]="'right'" [routerLink]="['/card']" routerLinkActive="router-link-active" >Card</button>
    <button mat-raised-button color="warn" matTooltip="Datepicker" [matTooltipPosition]="'right'" [routerLink]="['/datepicker']" routerLinkActive="router-link-active" >Datepicker</button>
    <button mat-raised-button color="primary" matTooltip="Expansion Panel" [matTooltipPosition]="'right'" [routerLink]="['/expansionPanel']" routerLinkActive="router-link-active" >Expansion Panel</button>
    <button mat-raised-button color="accent" matTooltip="Grid List" [matTooltipPosition]="'right'" [routerLink]="['/gridList']" routerLinkActive="router-link-active" >Grid List</button>
</div>